@namespace NinjaDesk.Components
@inherits ComponentBase

<div class="dock">
    @if (Apps != null)
    {
        <div @ref="_container" class="container" @onmousemove="OnMouseMove" @onmouseleave="OnMouseLeave">
            @foreach (var app in Apps)
            {
                <DockItem Icon="@app.Icon" Name="@app.Name" Style="@($"width: {DefaultIconWidth}rem")" OnClick="e => OnOpen.InvokeAsync(app)" />
            }
        </div>
    }
</div>

@code
{
    private const double DefaultIconWidth = 3.6;

    protected override string? JSFile
        => "/Components/Dock/Dock.razor.js";

    private ElementReference _container;

    [Parameter]
    public IEnumerable<Application>? Apps { get; set; }
    
    [Parameter]
    public EventCallback<Application> OnOpen { get; set; }

    private async Task OnMouseMove(MouseEventArgs e)
        => await (JSModule?.InvokeVoidAsync("OnMouseMove", _container, e.ClientX, DefaultIconWidth) ?? default);

    private async Task OnMouseLeave(MouseEventArgs e)
        => await (JSModule?.InvokeVoidAsync("OnMouseLeave", _container, DefaultIconWidth) ?? default);
}